Application Overview
You must provide a running web application, which should do the following:
Warehouse Management
A warehouse would like to manage its inventory. For this they need a new system which should provide the
following functionalities.
The system should provide:
• Basic login/logout functionality for all users. User roles are as follows:
o CLIENT
o WAREHOUSE_MANAGER
o SYSTEM_ADMIN
• CLIENT users should have the following functionalities:
o Can create a new order for items in the warehouse.
o An order may have different statuses during its lifecycle:
§ CREATED
§ AWAITING_APPROVAL
§ APPROVED
§ DECLINED
§ UNDER_DELIVERY
§ FULFILLED
§ CANCELED
o Update the order if the status is CREATED/DECLINED
§ Add new items to the order
§ Remove items from the order
§ Modify the quantity of the items in the order
o Cancel his order if the status is not FULFILLED, UNDER_DELIVERY or CANCELED
o Submit his order if the status is CREATED or DECLINED. If the order is successfully submitted
then the status becomes AWAITING_APPROVAL
o View his orders and filter them by status.
• WAREHOUSE_ MANAGER users should have the following functionalities:
o View all orders and filter them by status. The list is not detailed and should only contains basic
information. (Orders are sorted by their submission date starting from the newest)
o View detailed information about a specific order.
o Approve/Decline an order which is awaiting approval.
§ Status should change accordingly.
§ If the order is declined then a reason can be submitted.
o Manage items in the inventory. (Basic CRUD operations on items)
§ Each item is packed in a cuboid shaped box and has a specific volume
o Schedule a delivery for approved orders
§ Deliveries are all done within a day.
§ When scheduling a delivery the manager must select a date and 1 or more trucks.
§ A truck can only complete one delivery a day and can carry a specific volume of items.
§ Weekends are off as the truck drivers are not working.
§ When the delivery is scheduled the status is set to UNDER_DELIVERY and the item
quantity is updated.
o Manager can view all days on which a specific order can be scheduled for delivery based on
the restrictions defined above. The period can be defined by the admin(e.g. for the upcoming
3 days) however the period is restricted to at most 30 days.
o Manager can also manage the trucks in the system. (Basic CRUD operations for trucks)
o A cronjob is triggered on a daily basis which checks all scheduled deliveries against the current
date and sets the status to FULFILLED if the date is reached.
• SYSTEM_ADMIN users should have the following functionalities:
o Basic CRUD operations for the users.
• Bonus: Users can request a new password
Order should have (but not limited to) the following fields:
• Order Number (Generated automatically)
• Submitted Date
• Status
• Items
o Item
o Requested Quantity
• Deadline Date
Trucks should have (but not limited to) the following fields:
• Chassis number (Unique and entered manually)
• License Plate (Unique and entered manually)
• Container volume
Inventory Items should have (but not limited to) the following fields:
• Item Name
• Quantity
• Unit Price
• Package Volume
Technologies
The application should be well structured.
The following technologies/frameworks are mandatory:
• Spring 3 for the service layer (Spring MVC and Spring Boot)
• Spring Data JPA / Hibernate for the persistence layer
• MySQL (or any other RDBMS)
• Spring Security, implement JWT
• Maven for the dependencies between the modules besides the other proprietary libraries.
• Logging possibility via log4j.
• Swagger.